@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1>About InfestationDB</h1>
        <p>This website is for informational purpose only.</p>
    </body>
</html>
