<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="Site.css">
    </head>
    <body>
        <ul id="menu">
        <li><a href="Default">Home</a></li>
        <li><a href="About">About</a></li>
        <li><a href="Helmets">Helmets</a></li>
        <li><a href="Bodyarmors">Body Armors</a></li>
        <li><a href="Register">Register</a></li>
        <li><a href="Login">Login</a></li>
        </ul> 

        <div id="main">
        @RenderBody()
        <p>&copy; 2014 Nothing. All rights reserved.</p>
        </div>
    </body>
</html>
